<html>
    <head>
        <title>Reset password</title>
        <link rel="stylesheet" href="/static/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="icon" href="/static/logo.png">
    </head>
    <body style="background-color: black; color: #f4c33e; margin: 30px; margin-top:100px">
       <form action="/change_password" method="post" style="align: center;">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" type="password" required/>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password_confirmation" placeholder="New Password (again)" type="password" required/>
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
    </body>
</html>